.boxBorderLine {

    box-sizing: border-box;
    border: 0.0625rem solid #DCDCDC;
    border-radius: .31rem;
    padding: 0;
    margin: 0;

}

/** background colors */

.backgroundPaleBLue {

    background-color: #D6F5FF;

}

.backgroundPaleGray {

    background-color: #EEEEEE;

}

.backgroundSmokeGray {

    background-color: #DCDCDC;

}

.backgroundBlack {

    background-color: #000000;

}

.backgroundWhite {

    background-color: #FFFFFF;
}

/** end background colors */

/** text colors for responsive testing */


.textAliceBlue {

    color: #F0F8FF;

}

.textAntiqueWhite {

    color: #FAEBD7;

}

.textAqua {

    color: #00FFFF;

}

.textAquamarine {

    color: #7FFFD4;

}

.textAzure {

    color: #F0FFFF;

}

.textBeige {

    color: #F5F5DC;

}

.textBisque {

    color: #FFE4C4;
}

.textBlack {

    color: #000000;

}

.textBlanchedAlmond {

    color: #FFEBCD;
}

.textBlue {

    color: #0000FF;

}

.textBlueViolet {

    color: #8A2BE2;

}

.textBrown {

    color: #A52A2A;

}

.textBurlyWood {

    color: #DEB887;

}

.textCadetBlue {

    color: #5F9EA0;

}

.textChartreuse {

    color: #7FFF00;

}


.textChocolate {

    color: #D2691E;

}

.textCoral {

    color: #FF7F50;

}

.textCorflowerBlue {

    color: #6495ED;

}

.textCornsilk {

    color: #FFF8DC;

}

.textCrimson {

    color: #DC143C;

}

.textCyan {

    color: #00FFFF;

}

.textDarkBlue {

    color: #00008B;

}

.textDarkCyan {

    color: #008B8B;

}

.textDarkGoldenRod {

    color: #B8860B;

}

.textDarkGray {

    color: #A9A9A9;

}

.textDarkGreen {

    color: #006400;

}

.textDarkKhaki {

    color: #BDB76B;

}

.textDarkMagenta {

    color: #8B008B;

}

.textDarkOliveGreen {

    color: #556B2F;

}

.textDarkOrange {

    color: #FF8V00;

}

.textDarkOrchid {

    color: #9932CC;

}

.textDarkRed {

    color: #8B0000;

}

.textDarkSalmon {

    color: #E9967A;

}

.textDarkSeaGreen {

    color: #8FBC8F;

}

.textSlateBlue {

    color: #483D8B;

}

.textSlateGray {

    color: #2F4F4F;

}

.textDarkTurquoise {

    color: #00CED1;

}


.textDarkViolet {

    color: #9400D3;

}

.textDeepPink {

    color: #FF1493;

}

.textDeepSkyBlue {

    color: #00BFFF;

}

.textDimGray {

    color: #696969;

}

.textDodgerBlue {

    color: #1E90FF;

}

.textFireBrick {

    color: #B22222;

}

.texFloralWhitet {

    color: #FFFAF0;

}

.textForestGreen {

    color: #228B22;

}

.textFuschia {

    color: #FF00FF;

}

/** Gainsboro is a shade lighter than light gray */

.textGainsboro {

    color: #DCDCDC;

}

.textGhostWhite {

    color: #F8F8FF;

}

.textGold {

    color: #FFD700;

}

.textGoldenRod {

    color: #DAA520;

}

.textGray {

    color: #808080;

}

.textGreen {

    color: #008000;

}

.textzGreenYellow {

    color: #ADFF2F;

}

.textHoneyDew {

    color: #F0FFF0;

}

.textHotPink {

    color: #FF68B4;

}

.textIndianRed {

    color: #CD5C5C;

}

.textIndigo {

    color: #4B0082;

}

.textIvory {

    color: #FFFFF0;

}

.textKhaki {

    color: #F0E68C;

}

.textLavender {

    color: #E6E6FA;

}


.textLavenderBlush {

    color: #FFF0F5;

}

.textLawnGreen {

    color: #7CFC00;

}

.textLemonChiffon {

    color: #FFFACD;

}

.textLightBlue {

    color: #ADD8E6;

}

.textLightCoral {

    color: #F08080;

}

.text LightCyan{

    color: #E0FFFF;

}

.textLightGoldenRodYellow {

    color: #FAFAD2;

}

.textLightGray {

    color: #D3D3D3;

}

.textLightGreen {

    color: #90EE90;

}

.textLightPink {

    color: #FFB61;

}

.textLightSalmon {

    color: #FFA07A;

}

.textLightSeaGreen {

    color: #20B2AA;

}

.textLightSkyBlue {

    color: #87CEFA;

}

.textLightSlateGray {

    color: #778899;

}

.textLightSteelBlue {

    color: #B0C4DE;

}

.textLightYellow {

    color: #FFFFE0;

}

.textLime {

    color: #00FF00;

}

.textLimeGreen {

    color: #32CD32;

}

.textLinen {

    color: #FAF0E6;

}

.textMagenta {

    color: #FF00FF;

}

.textMaroon {

    color: #800000;

}

.textMediumAquaMarine {

    color: #66CDAA;

}

.textMediumBlue {

    color: #0000CD;

}

.textMediumOrchid {

    color: #BA55D3;

}

.textMediumPurple {

    color: #9370DB;

}


.textMediumSeaGreen {

    color: #3CB371;

}


.textMediumSlateBlue {

    color: #7B68EE;

}


.textMediumSpringGreen {

    color: #00FA9A;

}


.textMediumTurquoise {

    color: #48D1CC;

}


.textMediumVioletRed {

    color: #C71585;

}


.textMidnightBlue {

    color: #191970;

}


.textMintCream {

    color: #F5FFFA;

}


.textMistyRose {

    color: #FFE4E1;

}


.textMoccasin {

    color: #FFE4B5;

}


.textNavajoWhite {

    color: #FFDEAD;

}


.textNavy {

    color: #00080;

}


.textOldLace {

    color: #FDF5E6;

}


.textOlive {

    color: #8080000;

}


.textOliveDrab {

    color: #6B8E23;

}


.textOrange {

    color: #FFA500;

}


.textOrangeRed {

    color: #FF4500;

}


.textOrchid {

    color: #DA70D6;

}


.textPaleGoldenRod {

    color: #EEE8AA;

}


.textPaleGreen {

    color: #98FB98;

}


.textPaleTurquoise {

    color: #AFEEEE;

}


.textPaleVioletRed {

    color: #DB7093;

}


.textPapayaWhip {

    color: #FFEFD5;

}


.textPeachPuff {

    color: #FFDAB9;

}


.textPeru {

    color: #CD853F;

}


.textPink {

    color: #FFC0CB;

}


.textPlum {

    color: #DDA0DD;

}


.textPowderBlue {

    color: #;

}


.textPurple {

    color: #800080;

}


.textRebeccaPurple {

    color: #663399;

}


.textRed {

    color: #FF0000;

}


.textRosyBrown {

    color: #BC8F8F;

}


.textRoyalBlue {

    color: #4169E1;

}


.textSaddleBrown {

    color: #8B4513;

}


.textSalmon {

    color: #FA8072;

}


.textSandyBrown {

    color: #F4A460;

}


.textSeaGreen {

    color: #2E8B57;

}


.textSeaShell {

    color: #FFF5EE;

}


.textSienna {

    color: #A0522D;

}


.textSilver {

    color: #C0C0C0;

}


.textSkyBlue {

    color: #87CEEB;

}


.textSlateBlue {

    color: #6A5ACD;

}


.textSlateGray {

    color: #708090;

}


.textSnow {

    color: #FFFAFA;

}


.textSpringGreen {

    color: #00FF7F;

}


.textSteelBlue {

    color: #4682B4;

}


.textTan {

    color: #D2B48C;

}


.textTeal {

    color: #008080;

}


.textThistle {

    color: #D8BFD8;

}


.textTomato {

    color: #FF6347;

}


.textTurquoise {

    color: #40E0D0;

}


.textViolet {

    color: #EE82EE;

}


.textWheat {

    color: #F5DEB3;

}


.textWhite {

    color: #FFFFFF;

}


.textWhiteSmoke {

    color: #F5F5F5;

}


.textYellow {

    color: #FFFF00;

}


.textYellowGreen {

    color: #9ACD32;

}
 
/** end text colors for responsive testing */



/** align text section */

.alignTextLeft {

    text-align: left;

}

.alignTextRight {

    text-align: right;
}

.alignTextCenter {

    text-align: center;
}

.alignTextJustify {

    text-align: justify;
}

/** end align text section */

/** align content section */

.alignContentCenter {

    align-content: center;
}

/** end align content section */

/** align items section */

.alignItemsCenter {

    align-items: center;
}

/** end align items section */

/** align self section */

.alignSelfCenter {

    align-self: center;
}

.alignSelfStart {

    align-self: flex-start;

}

.alignSelfEnd {

    align-self: flex-end;
}

/** end align self section */

/** justify content section */

.justifyContentStart {

    /**  */

    justify-content: flex-start;

}



.justifyContentEnd {

    /**  */

    justify-content: flex-end;

}

.justifyContentCenter {

    /**  */

    justify-content: center;

}

.justifyContentBetween {

    /**  */

}

/** end justify content section */

/** padding section */

.padding2px {

    padding: 0.125rem;
}

.padding5px {

    padding: 0.3125rem;
}


.paddingLeft2px {

    padding-left: 0.125rem;
}


.paddingLeft5px {

    padding-left: 0.3125rem;
}

.paddingRight2px {

    padding-right: 0.125rem;
}


.paddingRight5px {

    padding-right: 0.3125rem;
}

.paddingTop2px {

    padding-top: 0.125rem;
}

.paddingTop5px {

    padding-top: 0.3125rem;
}

.paddingBottom2px {

    padding-bottom: 0.125rem;
}

.paddingBottom5px {

    padding-bottom: 0.3125rem;
}
/** end padding section */

/** margin section */

.margin0px {

    margin: 0;

}

.margin2px {

    margin: 0.125rem;

}

.margin5px {

    margin: 0.3125rem;

}

.marginLeft2px {

    margin-left: 0.125rem;

}

.marginLeft5px {

    margin-left: 0.3125rem;

}

.marginRight2px {

    margin-right: 0.125rem;

}

.marginRight5px {

    margin-right: 0.3125rem;

}

.marginTop2px {

    margin-top: 0.125rem;

}

.marginTop5px {

    margin-top: 0.3125rem;

}

.marginBottom2px {

    margin-bottom: 0.125rem;

}

.marginBottom5px {

    margin-bottom: 0.3125rem;

}

/** end margin section */

/** responsive grid columns */


.col-1 {

    width: 8.2583%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-2 {

    width: 16.5166%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-3 {

    width: 24.7749%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-4 {

    width: 33.0332%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-5 {

    width: 41.2915%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-6 {

    width: 49.5498%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-7 {

    width: 57.8081%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-8 {

    width: 66.0664%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-9 {

    width: 74.3247%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-10 {

    width: 82.583%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-11 {

    width: 90.8413%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-12 {

    width: 99.0996%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-100 {

    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;

}

/** end responsive grid columns */

/** columns: auto|column-width column-count|initial|inherit; */

.columnsAuto {

    -webkit-columns: auto 19rem; /* Chrome, Safari, Opera */
    -moz-columns: auto 19rem; /* Firefox */
    -ms-columns: auto 19rem; /* Maybe IE, maye not? */
    columns: auto 19rem;
    text-align: justify;

}

/** end columns */
