.boxBorderLine {

    box-sizing: border-box;
    border: 0.0625rem solid #DCDCDC;
    border-radius: .31rem;
    padding: 0;
    margin: 0;

}

/** fonts's styles */

/** font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit; */

h1 {

    /**  */



}

header h1 {

    /**  */
    font: normal 900 1.75rem/.5 'Lucida Console', 'Courier New', Georgia, Arial;

}

h2 {

    /**  */

}

header h2 {

    /**  */
    font: italic 900 1.2rem/.3 'Lucida Console', 'Courier New', Georgia, Arial;

}

h3 {

    /**  */

}

h4 {

    /**  */

}

h5 {

    /**  */

}

h6 {

    /**  */

}

p {

    /**  */

}

aside p {

    /**  */

}

footer p {

    /**  */

}

/** end of fonts' styles */



/** background color archive */



.backgroundColorAliceBlue {

    background-color: #F0F8FF;

}

.backgroundColorAntiqueWhite {

    background-color: #FAEBD7;

}

.backgroundColorAqua {

    background-color: #00FFFF;

}

.backgroundColorAquamarine {

    background-color: #7FFFD4;

}

.backgroundColorAzure {

    background-color: #F0FFFF;

}

.backgroundColorBeige {

    background-color: #F5F5DC;

}

.backgroundColorBisque {

    background-color: #FFE4C4;
}

.backgroundColorBlack {

    background-color: #000000;

}

.backgroundColorBlanchedAlmond {

    background-color: #FFEBCD;
}

.backgroundColorBlue {

    background-color: #0000FF;

}

.backgroundColorBlueViolet {

    background-color: #8A2BE2;

}

.backgroundColorBrown {

    background-color: #A52A2A;

}

.backgroundColorBurlyWood {

    background-color: #DEB887;

}

.backgroundColorCadetBlue {

    background-color: #5F9EA0;

}

.backgroundColorChartreuse {

    background-color: #7FFF00;

}


.backgroundColorChocolate {

    background-color: #D2691E;

}

.backgroundColorCoral {

    background-color: #FF7F50;

}

.backgroundColorCorflowerBlue {

    background-color: #6495ED;

}

.backgroundColorCornsilk {

    background-color: #FFF8DC;

}

.backgroundColorCrimson {

    background-color: #DC143C;

}

.backgroundColorCyan {

    background-color: #00FFFF;

}

.backgroundColorDarkBlue {

    background-color: #00008B;

}

.backgroundColorDarkCyan {

    background-color: #008B8B;

}

.backgroundColorDarkGoldenRod {

    background-color: #B8860B;

}

.backgroundColorDarkGray {

    background-color: #A9A9A9;

}

.backgroundColorDarkGreen {

    background-color: #006400;

}

.backgroundColorDarkKhaki {

    background-color: #BDB76B;

}

.backgroundColorDarkMagenta {

    background-color: #8B008B;

}

.backgroundColorDarkOliveGreen {

    background-color: #556B2F;

}

.backgroundColorDarkOrange {

    background-color: #FF8V00;

}

.backgroundColorDarkOrchid {

    background-color: #9932CC;

}

.backgroundColorDarkRed {

    background-color: #8B0000;

}

.backgroundColorDarkSalmon {

    background-color: #E9967A;

}

.backgroundColorDarkSeaGreen {

    background-color: #8FBC8F;

}

.backgroundColorSlateBlue {

    background-color: #483D8B;

}

.backgroundColorSlateGray {

    background-color: #2F4F4F;

}

.backgroundColorDarkTurquoise {

    background-color: #00CED1;

}


.backgroundColorDarkViolet {

    background-color: #9400D3;

}

.backgroundColorDeepPink {

    background-color: #FF1493;

}

.backgroundColorDeepSkyBlue {

    background-color: #00BFFF;

}

.backgroundColorDimGray {

    background-color: #696969;

}

.backgroundColorDodgerBlue {

    background-color: #1E90FF;

}

.backgroundColorFireBrick {

    background-color: #B22222;

}

.texFloralWhitet {

    background-color: #FFFAF0;

}

.backgroundColorForestGreen {

    background-color: #228B22;

}

.backgroundColorFuschia {

    background-color: #FF00FF;

}

/** Gainsboro is a shade lighter than light gray */

.backgroundColorGainsboro {

    background-color: #DCDCDC;

}

.backgroundColorGhostWhite {

    background-color: #F8F8FF;

}

.backgroundColorGold {

    background-color: #FFD700;

}

.backgroundColorGoldenRod {

    background-color: #DAA520;

}

.backgroundColorGray {

    background-color: #808080;

}

.backgroundColorGreen {

    background-color: #008000;

}

.backgroundColorzGreenYellow {

    background-color: #ADFF2F;

}

.backgroundColorHoneyDew {

    background-color: #F0FFF0;

}

.backgroundColorHotPink {

    background-color: #FF68B4;

}

.backgroundColorIndianRed {

    background-color: #CD5C5C;

}

.backgroundColorIndigo {

    background-color: #4B0082;

}

.backgroundColorIvory {

    background-color: #FFFFF0;

}

.backgroundColorKhaki {

    background-color: #F0E68C;

}

.backgroundColorLavender {

    background-color: #E6E6FA;

}


.backgroundColorLavenderBlush {

    background-color: #FFF0F5;

}

.backgroundColorLawnGreen {

    background-color: #7CFC00;

}

.backgroundColorLemonChiffon {

    background-color: #FFFACD;

}

.backgroundColorLightBlue {

    background-color: #ADD8E6;

}

.backgroundColorLightCoral {

    background-color: #F08080;

}

.backgroundColor LightCyan{

    background-color: #E0FFFF;

}

.backgroundColorLightGoldenRodYellow {

    background-color: #FAFAD2;

}

.backgroundColorLightGray {

    background-color: #D3D3D3;

}

.backgroundColorLightGreen {

    background-color: #90EE90;

}

.backgroundColorLightPink {

    background-color: #FFB61;

}

.backgroundColorLightSalmon {

    background-color: #FFA07A;

}

.backgroundColorLightSeaGreen {

    background-color: #20B2AA;

}

.backgroundColorLightSkyBlue {

    background-color: #87CEFA;

}

.backgroundColorLightSlateGray {

    background-color: #778899;

}

.backgroundColorLightSteelBlue {

    background-color: #B0C4DE;

}

.backgroundColorLightYellow {

    background-color: #FFFFE0;

}

.backgroundColorLime {

    background-color: #00FF00;

}

.backgroundColorLimeGreen {

    background-color: #32CD32;

}

.backgroundColorLinen {

    background-color: #FAF0E6;

}

.backgroundColorMagenta {

    background-color: #FF00FF;

}

.backgroundColorMaroon {

    background-color: #800000;

}

.backgroundColorMediumAquaMarine {

    background-color: #66CDAA;

}

.backgroundColorMediumBlue {

    background-color: #0000CD;

}

.backgroundColorMediumOrchid {

    background-color: #BA55D3;

}

.backgroundColorMediumPurple {

    background-color: #9370DB;

}


.backgroundColorMediumSeaGreen {

    background-color: #3CB371;

}


.backgroundColorMediumSlateBlue {

    background-color: #7B68EE;

}


.backgroundColorMediumSpringGreen {

    background-color: #00FA9A;

}


.backgroundColorMediumTurquoise {

    background-color: #48D1CC;

}


.backgroundColorMediumVioletRed {

    background-color: #C71585;

}


.backgroundColorMidnightBlue {

    background-color: #191970;

}


.backgroundColorMintCream {

    background-color: #F5FFFA;

}


.backgroundColorMistyRose {

    background-color: #FFE4E1;

}


.backgroundColorMoccasin {

    background-color: #FFE4B5;

}


.backgroundColorNavajoWhite {

    background-color: #FFDEAD;

}


.backgroundColorNavy {

    background-color: #00080;

}


.backgroundColorOldLace {

    background-color: #FDF5E6;

}


.backgroundColorOlive {

    background-color: #8080000;

}


.backgroundColorOliveDrab {

    background-color: #6B8E23;

}


.backgroundColorOrange {

    background-color: #FFA500;

}


.backgroundColorOrangeRed {

    background-color: #FF4500;

}


.backgroundColorOrchid {

    background-color: #DA70D6;

}


.backgroundColorPaleGoldenRod {

    background-color: #EEE8AA;

}


.backgroundColorPaleGreen {

    background-color: #98FB98;

}


.backgroundColorPaleTurquoise {

    background-color: #AFEEEE;

}


.backgroundColorPaleVioletRed {

    background-color: #DB7093;

}


.backgroundColorPapayaWhip {

    background-color: #FFEFD5;

}


.backgroundColorPeachPuff {

    background-color: #FFDAB9;

}


.backgroundColorPeru {

    background-color: #CD853F;

}


.backgroundColorPink {

    background-color: #FFC0CB;

}


.backgroundColorPlum {

    background-color: #DDA0DD;

}


.backgroundColorPowderBlue {

    background-color: #B0E0E6;

}


.backgroundColorPurple {

    background-color: #800080;

}


.backgroundColorRebeccaPurple {

    background-color: #663399;

}


.backgroundColorRed {

    background-color: #FF0000;

}


.backgroundColorRosyBrown {

    background-color: #BC8F8F;

}


.backgroundColorRoyalBlue {

    background-color: #4169E1;

}


.backgroundColorSaddleBrown {

    background-color: #8B4513;

}


.backgroundColorSalmon {

    background-color: #FA8072;

}


.backgroundColorSandyBrown {

    background-color: #F4A460;

}


.backgroundColorSeaGreen {

    background-color: #2E8B57;

}


.backgroundColorSeaShell {

    background-color: #FFF5EE;

}


.backgroundColorSienna {

    background-color: #A0522D;

}


.backgroundColorSilver {

    background-color: #C0C0C0;

}


.backgroundColorSkyBlue {

    background-color: #87CEEB;

}


.backgroundColorSlateBlue {

    background-color: #6A5ACD;

}


.backgroundColorSlateGray {

    background-color: #708090;

}


.backgroundColorSnow {

    background-color: #FFFAFA;

}


.backgroundColorSpringGreen {

    background-color: #00FF7F;

}


.backgroundColorSteelBlue {

    background-color: #4682B4;

}


.backgroundColorTan {

    background-color: #D2B48C;

}


.backgroundColorTeal {

    background-color: #008080;

}


.backgroundColorThistle {

    background-color: #D8BFD8;

}


.backgroundColorTomato {

    background-color: #FF6347;

}


.backgroundColorTurquoise {

    background-color: #40E0D0;

}


.backgroundColorViolet {

    background-color: #EE82EE;

}


.backgroundColorWheat {

    background-color: #F5DEB3;

}


.backgroundColorWhite {

    background-color: #FFFFFF;

}


.backgroundColorWhiteSmoke {

    background-color: #F5F5F5;

}


.backgroundColorYellow {

    background-color: #FFFF00;

}


.backgroundColorYellowGreen {

    background-color: #9ACD32;

}


/** my background colors */

.backgroundColorPaleBLue {

    background-color: #D6F5FF;

}

.backgroundColorPaleGray {

    background-color: #EEEEEE;

}

/** end background colors */


/** text color archive for responsive testing and notes */

.textAliceBlue {

    color: #F0F8FF;

}

.textAntiqueWhite {

    color: #FAEBD7;

}

.textAqua {

    color: #00FFFF;

}

.textAquamarine {

    color: #7FFFD4;

}

.textAzure {

    color: #F0FFFF;

}

.textBeige {

    color: #F5F5DC;

}

.textBisque {

    color: #FFE4C4;
}

.textBlack {

    color: #000000;

}

.textBlanchedAlmond {

    color: #FFEBCD;
}

.textBlue {

    color: #0000FF;

}

.textBlueViolet {

    color: #8A2BE2;

}

.textBrown {

    color: #A52A2A;

}

.textBurlyWood {

    color: #DEB887;

}

.textCadetBlue {

    color: #5F9EA0;

}

.textChartreuse {

    color: #7FFF00;

}


.textChocolate {

    color: #D2691E;

}

.textCoral {

    color: #FF7F50;

}

.textCorflowerBlue {

    color: #6495ED;

}

.textCornsilk {

    color: #FFF8DC;

}

.textCrimson {

    color: #DC143C;

}

.textCyan {

    color: #00FFFF;

}

.textDarkBlue {

    color: #00008B;

}

.textDarkCyan {

    color: #008B8B;

}

.textDarkGoldenRod {

    color: #B8860B;

}

.textDarkGray {

    color: #A9A9A9;

}

.textDarkGreen {

    color: #006400;

}

.textDarkKhaki {

    color: #BDB76B;

}

.textDarkMagenta {

    color: #8B008B;

}

.textDarkOliveGreen {

    color: #556B2F;

}

.textDarkOrange {

    color: #FF8V00;

}

.textDarkOrchid {

    color: #9932CC;

}

.textDarkRed {

    color: #8B0000;

}

.textDarkSalmon {

    color: #E9967A;

}

.textDarkSeaGreen {

    color: #8FBC8F;

}

.textSlateBlue {

    color: #483D8B;

}

.textSlateGray {

    color: #2F4F4F;

}

.textDarkTurquoise {

    color: #00CED1;

}


.textDarkViolet {

    color: #9400D3;

}

.textDeepPink {

    color: #FF1493;

}

.textDeepSkyBlue {

    color: #00BFFF;

}

.textDimGray {

    color: #696969;

}

.textDodgerBlue {

    color: #1E90FF;

}

.textFireBrick {

    color: #B22222;

}

.texFloralWhitet {

    color: #FFFAF0;

}

.textForestGreen {

    color: #228B22;

}

.textFuschia {

    color: #FF00FF;

}

/** Gainsboro is a shade lighter than light gray */

.textGainsboro {

    color: #DCDCDC;

}

.textGhostWhite {

    color: #F8F8FF;

}

.textGold {

    color: #FFD700;

}

.textGoldenRod {

    color: #DAA520;

}

.textGray {

    color: #808080;

}

.textGreen {

    color: #008000;

}

.textzGreenYellow {

    color: #ADFF2F;

}

.textHoneyDew {

    color: #F0FFF0;

}

.textHotPink {

    color: #FF68B4;

}

.textIndianRed {

    color: #CD5C5C;

}

.textIndigo {

    color: #4B0082;

}

.textIvory {

    color: #FFFFF0;

}

.textKhaki {

    color: #F0E68C;

}

.textLavender {

    color: #E6E6FA;

}


.textLavenderBlush {

    color: #FFF0F5;

}

.textLawnGreen {

    color: #7CFC00;

}

.textLemonChiffon {

    color: #FFFACD;

}

.textLightBlue {

    color: #ADD8E6;

}

.textLightCoral {

    color: #F08080;

}

.text LightCyan{

    color: #E0FFFF;

}

.textLightGoldenRodYellow {

    color: #FAFAD2;

}

.textLightGray {

    color: #D3D3D3;

}

.textLightGreen {

    color: #90EE90;

}

.textLightPink {

    color: #FFB61;

}

.textLightSalmon {

    color: #FFA07A;

}

.textLightSeaGreen {

    color: #20B2AA;

}

.textLightSkyBlue {

    color: #87CEFA;

}

.textLightSlateGray {

    color: #778899;

}

.textLightSteelBlue {

    color: #B0C4DE;

}

.textLightYellow {

    color: #FFFFE0;

}

.textLime {

    color: #00FF00;

}

.textLimeGreen {

    color: #32CD32;

}

.textLinen {

    color: #FAF0E6;

}

.textMagenta {

    color: #FF00FF;

}

.textMaroon {

    color: #800000;

}

.textMediumAquaMarine {

    color: #66CDAA;

}

.textMediumBlue {

    color: #0000CD;

}

.textMediumOrchid {

    color: #BA55D3;

}

.textMediumPurple {

    color: #9370DB;

}


.textMediumSeaGreen {

    color: #3CB371;

}


.textMediumSlateBlue {

    color: #7B68EE;

}


.textMediumSpringGreen {

    color: #00FA9A;

}


.textMediumTurquoise {

    color: #48D1CC;

}


.textMediumVioletRed {

    color: #C71585;

}


.textMidnightBlue {

    color: #191970;

}


.textMintCream {

    color: #F5FFFA;

}


.textMistyRose {

    color: #FFE4E1;

}


.textMoccasin {

    color: #FFE4B5;

}


.textNavajoWhite {

    color: #FFDEAD;

}


.textNavy {

    color: #00080;

}


.textOldLace {

    color: #FDF5E6;

}


.textOlive {

    color: #8080000;

}


.textOliveDrab {

    color: #6B8E23;

}


.textOrange {

    color: #FFA500;

}


.textOrangeRed {

    color: #FF4500;

}


.textOrchid {

    color: #DA70D6;

}


.textPaleGoldenRod {

    color: #EEE8AA;

}


.textPaleGreen {

    color: #98FB98;

}


.textPaleTurquoise {

    color: #AFEEEE;

}


.textPaleVioletRed {

    color: #DB7093;

}


.textPapayaWhip {

    color: #FFEFD5;

}


.textPeachPuff {

    color: #FFDAB9;

}


.textPeru {

    color: #CD853F;

}


.textPink {

    color: #FFC0CB;

}


.textPlum {

    color: #DDA0DD;

}


.textPowderBlue {

    color: #B0E0E6;

}


.textPurple {

    color: #800080;

}


.textRebeccaPurple {

    color: #663399;

}


.textRed {

    color: #FF0000;

}


.textRosyBrown {

    color: #BC8F8F;

}


.textRoyalBlue {

    color: #4169E1;

}


.textSaddleBrown {

    color: #8B4513;

}


.textSalmon {

    color: #FA8072;

}


.textSandyBrown {

    color: #F4A460;

}


.textSeaGreen {

    color: #2E8B57;

}


.textSeaShell {

    color: #FFF5EE;

}


.textSienna {

    color: #A0522D;

}


.textSilver {

    color: #C0C0C0;

}


.textSkyBlue {

    color: #87CEEB;

}


.textSlateBlue {

    color: #6A5ACD;

}


.textSlateGray {

    color: #708090;

}


.textSnow {

    color: #FFFAFA;

}


.textSpringGreen {

    color: #00FF7F;

}


.textSteelBlue {

    color: #4682B4;

}


.textTan {

    color: #D2B48C;

}


.textTeal {

    color: #008080;

}


.textThistle {

    color: #D8BFD8;

}


.textTomato {

    color: #FF6347;

}


.textTurquoise {

    color: #40E0D0;

}


.textViolet {

    color: #EE82EE;

}


.textWheat {

    color: #F5DEB3;

}


.textWhite {

    color: #FFFFFF;

}


.textWhiteSmoke {

    color: #F5F5F5;

}


.textYellow {

    color: #FFFF00;

}


.textYellowGreen {

    color: #9ACD32;

}

/** end text colors for responsive testing */



/** align text section */

.alignTextLeft {

    text-align: left;

}

.alignTextRight {

    text-align: right;
}

.alignTextCenter {

    text-align: center;
}

.alignTextJustify {

    text-align: justify;
}

/** end align text section */

/** align content section */

.alignContentCenter {

    align-content: center;
}

/** end align content section */

/** align items section */

.alignItemsCenter {

    align-items: center;
}

/** end align items section */

/** align self section */

.alignSelfCenter {

    align-self: center;
}

.alignSelfStart {

    align-self: flex-start;

}

.alignSelfEnd {

    align-self: flex-end;
}

/** end align self section */

/** justify content section */

.justifyContentStart {

    /**  */

    justify-content: flex-start;

}



.justifyContentEnd {

    /**  */

    justify-content: flex-end;

}

.justifyContentCenter {

    /**  */

    justify-content: center;

}

.justifyContentBetween {

    /**  */

}

/** end justify content section */

/** padding section */

.padding2px {

    padding: 0.125rem;
}

.padding5px {

    padding: 0.3125rem;
}


.paddingLeft2px {

    padding-left: 0.125rem;
}


.paddingLeft5px {

    padding-left: 0.3125rem;
}

.paddingRight2px {

    padding-right: 0.125rem;
}


.paddingRight5px {

    padding-right: 0.3125rem;
}

.paddingTop2px {

    padding-top: 0.125rem;
}

.paddingTop5px {

    padding-top: 0.3125rem;
}

.paddingBottom2px {

    padding-bottom: 0.125rem;
}

.paddingBottom5px {

    padding-bottom: 0.3125rem;
}
/** end padding section */

/** margin section */

.margin0px {

    margin: 0;

}

.margin2px {

    margin: 0.125rem;

}

.margin5px {

    margin: 0.3125rem;

}

.marginLeft2px {

    margin-left: 0.125rem;

}

.marginLeft5px {

    margin-left: 0.3125rem;

}

.marginRight2px {

    margin-right: 0.125rem;

}

.marginRight5px {

    margin-right: 0.3125rem;

}

.marginTop2px {

    margin-top: 0.125rem;

}

.marginTop5px {

    margin-top: 0.3125rem;

}

.marginBottom2px {

    margin-bottom: 0.125rem;

}

.marginBottom5px {

    margin-bottom: 0.3125rem;

}

/** end margin section */

/** responsive grid columns */


.col-1 {

    width: 8.2583%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-2 {

    width: 16.5166%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-3 {

    width: 24.7749%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-4 {

    width: 33.0332%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-5 {

    width: 41.2915%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-6 {

    width: 49.5498%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-7 {

    width: 57.8081%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-8 {

    width: 66.0664%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-9 {

    width: 74.3247%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-10 {

    width: 82.583%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-11 {

    width: 90.8413%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-12 {

    width: 99.0996%;
    box-sizing: border-box;
    border-collapse: collapse;

}

.col-100 {

    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;

}

/** end responsive grid columns */

/** columns: auto|column-width column-count|initial|inherit; */

.columnsAuto {

    -webkit-columns: auto 19rem; /* Chrome, Safari, Opera */
    -moz-columns: auto 19rem; /* Firefox */
    -ms-columns: auto 19rem; /* Maybe IE, maye not? */
    columns: auto 19rem;
    text-align: justify;

}

/** end columns */
